<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBnB {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/ap.css">
        {% block stylesheets %}{% endblock %}
    <body>
    </head>
        {% include 'shared/header.html.twig' %}

        {% block body %}{% endblock %}
        
        {% include 'shared/footer.html.twig' %}
        <script src="/js/jquerry.min.js"></script>
        <script src="/js/poper.min.js"></script>
        <script src="/js/bootstap.min.js"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
